header{
    background-color: #003451;
    position: relative;
    z-index: 101;
}

header nav div.buscador .space{
    display: none;
}

header .submenu{
    background-color: #01527f;
    display: none;
}

header #menu li.contactanos{
    display: none;
}

header .submenu.selected div.contenido{
    background: none;
    padding: 30px 0px 30px 0px;
}

header .submenu.selected div.contenido div.izquierda,
header .submenu.selected div.contenido div.centro,
header .submenu.selected div.contenido div.derecha{
    float: left;
}

header .submenu.selected div.contenido div.izquierda{
   width: 215px;
}

header .submenu.selected div.contenido div.centro{
   width: 405px;
}

header .submenu.selected div.contenido div.derecha ul li{
    margin-bottom: 10px;
    margin-right: 20px;
}

header .submenu.selected div.contenido div.derecha ul li:nth-child(2n){
    margin-right: 0px;
}

header .submenu.selected div.contenido div.derecha img{
    float: left;
    margin-right: 10px;
}


header .submenu.selected div.contenido div.centro div.principal{
    padding-right: 60px;
}

header .submenu.selected div.contenido div.centro h3{
    color: white;
}


header .submenu.selected div.contenido div.derecha ul {
    width: 300px;
    overflow: hidden;
}

header .submenu.selected div.contenido div.derecha h3{
    width: 142px;
    float: left;
    color: white;
}

header .submenu.selected div.contenido div.derecha ul li{
    overflow: hidden;
    color: white;
}

header .submenu.selected div.contenido div.centro div.principal,
header .submenu.selected div.contenido div.derecha ul,
header .submenu.selected div.contenido div.izquierda ul.categorias li{
    border-left: 1px solid #c8c93d;
    padding-left: 20px;
    overflow: hidden;
}

header .submenu.selected div.contenido div.izquierda ul.categorias li{
    padding: 5px 0px 5px 20px;
    color: white;
}

header .submenu.selected div.contenido div.izquierda ul.categorias li:hover{
    background-color: #1f78aa;
    cursor: pointer;
}


header .submenu.selected{
    display: block;
    position: fixed;
    margin: 0px auto 0px auto;
    padding: 0px 4px 0px 4px;
    width:100%;
    height: 310px;
    top: 39px;
    border-bottom: 5px solid #c8c93d;
}

header .minilogo{
    margin-left: 0px;
    float: left;
    height: 38px;
    width: 135px;
    background: url('../img/sprite.png');
    background-position: -88px -139px;
    display: none;
    cursor: pointer;
}

/*FIXED OPTIONS*/

header.fixed nav #menu{
    float: right;
}


header.fixed nav ul.menu li.home{
    display: none;
}

header.fixed nav ul.menu {
    width: 584px;
}

header.fixed .submenu.selected{
    top: 48px;
}

header.fixed div.espacio{
    padding-top: 38px;
    overflow: hidden;
}
header.fixed .minilogo{
    display: block;
    cursor: pointer;
}

header.fixed div.fondomenu{
    position: fixed;
    background-color: #01527f;
    padding: 5px 0px 5px 0px;
}

header.fixed nav ul.social{
    display: none;
}

header.fixed  nav div.buscador{
    width: 212px;
    position: static;
}

header.fixed  nav div.buscador .fondo{
    height: 30px;
    margin-top: 3px;
    position: static;
}
    
header.fixed nav div.buscador span{
    margin-top: 3px;
}

header.fixed nav > div.buscador, header.fixed nav > ul{
    float: right;

}

header.fixed nav div.buscador input{
    width: 165px;
    height: 30px;
    margin: 3px 0px 0px 0px;
}

.mobile header.fixed nav div.fondosocial{
    display: none;
}

/*END -- FIXED OPTIONS*/


header div.fondomenu{
    background-color: #003451;
    width: 100%;
    display: block;
}

header nav{
    margin: 0px auto 0px auto;
    width: 944px;
    height: 38px;
    padding: 0px 8px 0px 8px;
    overflow: hidden;
}

header nav ul li{
    float: left;
    cursor: pointer;
}

header nav > div.buscador,
header nav > ul{
    overflow: hidden;
    float: left;
}

header nav > ul.menu{
    width: 618px;
}


header nav ul.menu > li{
    padding: 11px 8px 0px 8px;
    margin: 0px 0px 0px 1px;
    height: 27px;
}

header nav ul.menu > li ul{
    display: none;
}

header nav ul.menu > li:hover{
    background-color: #2A7CA8;
    cursor: pointer;
}


header nav ul.menu > li.selected span{
    display: block;
    background-color: #c8c93d;
    height: 3px;
    margin-bottom: 8px;
}


header nav ul.menu > li a{    
    font-family: Ubuntu;
    font-size: 13px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}



header nav ul.menu > li:hover a{
    font-weight: bold;

}

header nav ul.menu > li.selected{
    background-color: #01527f;
    /*margin: 0px 7px 0px 7px;*/
    padding:0px;
    height: 38px;
}

header nav ul.menu > li.selected p,
header nav ul.menu > li.selected a{
    padding: 0px 7px 0px 7px;
    font-weight: bold;
}

header nav ul.social{
    display: none;
    overflow: hidden;
    float: left;
    margin: 2px 0px 0px 16px;
}

header nav ul.social li{
    padding: 3px 2px 10px 2px;
}

header nav ul.social li:hover{
    background-color: #01527f;
}

header nav > div.buscador{
    position: relative;
    overflow: hidden;
}


header nav div.buscador input{
    border: 0px;
    border-radius: 3px 0px 0px 3px;
    height: 28px;
    width: 90%;
    margin: 5px 0px 0px 8px;
    float: left;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 13px;
    outline: none;
}

header nav div.buscador span{
    background: url('../img/sprite.png');
    background-position: -111px -62px;
    width: 26px;
    height: 22px;
    display: block;
    float: left;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 6px;
}

header nav div.buscador .fondo{
    background: #fff;

    background: -moz-linear-gradient(top,#fff 0,#f1f1f1 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#f1f1f1));
    background: -webkit-linear-gradient(top,#fff 0,#f1f1f1 100%);
    background: -o-linear-gradient(top,#fff 0,#f1f1f1 100%);
    background: -ms-linear-gradient(top,#fff 0,#f1f1f1 100%);
    background: linear-gradient(to bottom,#fff 0,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f1f1f1',GradientType=0);

    color: #666;

    border-left: 1px solid #CDCCCB;
    border-right: 1px solid #CDCCCB;
    top: 5px;
    overflow: hidden;
    position: absolute;
    right: 0px;
    height: 28px;
    width: 30px;


}



header div.fondologo{
    overflow: hidden;
    background: url('../img/fondologo.png') repeat-x;
    height: 109px;
}

header div.fondologo div.logo{
    margin: 0px auto 0px auto;
    padding: 0px 8px 0px 8px;
    width: 944px;
    overflow: hidden;
}

header div.fondologo div.logo div.imagen{
    background: url('../img/sprite.png');
    width: 206px;
    height: 65px;
    margin-top: 24px;
    cursor: pointer;
    float: left;
}

header div.fondologo div.logo .banner{
    float: left;
    margin: 10px 0px 0px 7px;
}


/*Initialize*/
ul.combo, ul.combo ul.sub-menu {
    padding:0;
    margin: 0;
}
ul.combo li, ul.combo ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul.combo ul.sub-menu li {
    text-decoration: none;
    color: #fff;
    background: #666;
    width:100%;
    padding: 5px;
    display:inline-block;
    cursor: pointer;
}
ul.combo li h3{
    background: #666;
    color: #fff;
}
/*Make the parent of sub-menu relative*/
ul.combo li {
    position: relative;
    cursor: pointer;
}
/*sub menu*/
ul.combo li ul.sub-menu {
    display:none;
    position: absolute;
    left: -1px;
    width: 100px;
    
}
ul.combo li:hover ul.sub-menu {
    display:block;
    z-index:10;
}

header nav #menu div.minilogo,
header nav .icon.search,
header nav .icon.expand{
    display: none;
    cursor: pointer;
}

header nav div.fondosocial .siguenos{
   display: none; 
}

header nav i.icon.facebook:before,
header nav i.icon.twitter:before,
header nav i.icon.google:before,
header nav i.icon.rss:before{
    font-size: 18px;
}


/**
* Input field
*/
header .jautocomplete
{
    margin: 0 auto;
    width: 270px;
    text-shadow:1px 1px 1px #fff;
}


header .ie-placeholder{
    font-size: 14px;
    padding: 10px 0 0 0;
    color: #CA3F1A;
}

/**
* Hidden box
*/
header.fixed .jautocomplete-placeholder{
    top: 47px;
}
.jautocomplete-placeholder{
    position: fixed;
    width: 100%;
    left: 0;
    top: 39px;
    z-index: 1;
}

header .jautocomplete-box{	
    background: #fff;
    border: 1px solid #aaa;
    height: 400px;
    overflow-y: scroll;
    width: 520px;
    float: right;
}
header.fixed .jautocomplete-box{
    float: none;
    margin: 0px auto 0px 144px;
}

header .jautocomplete-contenido{
    overflow-x: hidden;
    margin: 0px auto 0px auto;
    width: 944px;
}


header .jautocomplete-box a{
        color: #5C5C5C;
}

header .jautocomplete-box .item{
        float: left;
        width: 100%;
        padding: 10px 0;
}

header .jautocomplete-box .item p{
        padding: 0;
        margin: 0;
        color: #5C5C5C;
}

header .jautocomplete-box .data ul.iconos{
    margin-top: 5px; 
}
header .jautocomplete-box .data ul.iconos li{
    float: left;
    margin-right: 5px;
}

.jautocomplete-box .item:hover{
        background: #efefef;
}

.jautocomplete-box .img{
        float: left;
        margin-left: 10px;
}

header .jautocomplete-box .img img{
        width: 70px;
}

header .jautocomplete-box .data{
        float: right;
        width: 820px;
        font-size: 12px;
        line-height: 17px;
        text-align: left;
        margin-right: 10px;
}

header .jautocomplete-box .item p.title{
        color: #2B6789;
        font-weight: bold;
        font-size: 13px;
}

header .jautocomplete-box .item p.categoria{
        color: #F46E24;
}

header .jautocomplete-box .data{
        float: left;
        width: 210px;
        
        font-size: 12px;
        line-height: 17px;
        font-weight: normal;
        
        text-align: left;
        margin-left: 10px;
}

header .jautocomplete-box .img {
    float: left;
    margin-left: 10px;
}

header .jautocomplete-box .data {
    width: 400px;
    line-height: 17px;
    font-weight: normal;
}


/*
TABLET
*/

.tablet header nav ul.menu li[data-category="albercas"],
.tablet header nav ul.menu li[data-category="articulo"],
.tablet header nav ul.menu li[data-category="video"],
.tablet header nav ul.menu li[data-category="noticia"],
.tablet header .submenu.selected div.contenido div.derecha,
.tablet header nav ul.social,
.mobile header div.fondologo div.logo .banner,
.tablet header div.fondologo div.logo .banner{
    display: none;
}
.tablet header .jautocomplete-contenido,
.tablet header nav,
.tablet header div.fondologo div.logo{
    width: 628px;
}

.tablet header.fixed .jautocomplete-box{
    margin: 0px auto 0px auto;
}


.tablet header.fixed nav ul.menu{
    width: 260px;
}

.tablet header nav > div.buscador{
    width: 222px;
}



/*
MOBILE
*/

.mobile header{
    background-color: white;
    padding-bottom: 46px;
}

.mobile header nav i.icon.expand:before {
    content: "\e012";
    font-size: 22px;
}

.mobile header nav i.icon.search:before {
    content: "\e015";
    font-size: 22px;
}

.mobile header nav div.buscador .fondo,
.mobile #menu,
.mobile header nav > div.buscador,
.mobile header div.fondologo,
.mobile header nav ul.menu {
    display: none;
}

.mobile header .minilogo,
.mobile header nav #menu div.minilogo,
.mobile header nav .icon.expand,
.mobile header nav .icon.search{
    display: block;
    float: left;
}

.mobile header .minilogo{
    float: none;
    margin: 0px auto 0px auto;
    height: 42px;
    background-position: -88px -138px;
}

.mobile header nav > i.icon{
    top: 0px;
    position: absolute;
    padding: 10px;
}

.mobile header nav i.icon.search{
    right: 0px;
}
.mobile header nav i.icon.expand{
    left: 0px;
}

.mobile header .jautocomplete-box,
.mobile header .jautocomplete-contenido,
.mobile header .jautocomplete,
.mobile header nav{
    width: 100%;
    min-width: 320px;
    padding: 0px;
}

.mobile header .jautocomplete-box .data{
    width: 60%;
}

.mobile header.fixed .jautocomplete-placeholder,
.mobile header .jautocomplete-placeholder{
    top: 96px;
}

.mobile header div.fondomenu,
.mobile header.fixed div.fondomenu{
    padding: 3px 0px 7px 0px;
}

.mobile header.fixed .jautocomplete-box{
    margin: auto;
}

.mobile header nav ul.social{
    display: block;
    margin: 0px;
    float: right;
}

.mobile header nav div.fondosocial{
    width: 100%;
    min-width: 320px;
    position: absolute;
    background-color: #01527f;
}

.mobile header nav ul.social li {
    padding: 2px 8px 8px 8px;
}

.mobile header nav div.fondosocial .siguenos{
    font-size: 14px;
    display: block;
    float: left;
    padding: 10px 0px 0px 10px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.mobile header nav i.icon.facebook:before,
.mobile header nav i.icon.twitter:before,
.mobile header nav i.icon.google:before,
.mobile header nav i.icon.rss:before{
    font-size: 20px;
}

.mobile header.fixed nav > div.buscador.show{
    background: #01527F;
}

.mobile header nav > div.buscador.show{
    display: block;
    width: 100%;
    min-width: 320px;
    position: absolute;
    height: 47px;
    padding-bottom: 5px;
    background: #003451;
}
.mobile header nav div.buscador.show input{
    width: 88%;
    font-size: 21px;
    height: 25px;
    margin: 0px;
    border-radius: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
}

.mobile header nav div.buscador .space{
    display: block;
    float: left;
    width: 10px;
    height: 10px;
}

