.empleo{
    overflow: hidden;
    position: relative;
    width: 628px;
    margin-bottom: 8px;
}

.empleo .encabezado{
    overflow: hidden;
    width: 100%;
    margin-bottom: 8px;
}

.empleo .encabezado h1{
    color: #0776AF;
    font-size: 20px;
    font-weight: bold;
}

.empleo .social{
    margin-top: 10px;
}


.empleo .encabezado p {
    color: #929292;
    font-size: 13px;
    line-height: 19px;
}

.empleo .encabezado p.empresa {
    color: #00688F;
    font-weight: bold;
}

.empleo .encabezado p.correo{
    color: #009DDC;
}

.empleo .encabezado > .contenido,
.empleo .encabezado img{
    float: left;
}

.empleo .encabezado img{
    margin-right: 20px;
}

.empleo .contenido .derecha,
.empleo .contenido .izquierda{
    float: left;
}

.empleo .contenido .derecha h3{
    color: #535353;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.empleo .contenido.fondo{
    margin-top: 30px;
    overflow: hidden;
    background-color: #f0f0f0;
}

.empleo .contenido .izquierda{
    padding: 15px;
    height: 100%;
    width: 140px;
}

.empleo .contenido .izquierda ul li{
    color: #009DDC;
    font-weight: bold;
}

.empleo .contenido .izquierda ul li:nth-child(2n){
    margin-bottom: 10px;
    color: #535353;
    font-weight: normal;
}

.empleo .contenido .derecha {
    width: 428px;
    word-break: break-word;
    color: #535353;
    padding: 15px;
    background-color: white;
    min-height: 200px;
}


/*
 *MOBILE
*/

.mobile .empleo .contenido .social .social-stub.twitter,
.mobile .empleo .contenido .social .social-stub.google_plus{
    display: none;
}

.mobile .empleo .contenido .izquierda,
.mobile .empleo .contenido .derecha,
.mobile .empleo{
    width: auto;
}

.mobile .empleo .encabezado img {
    width: 120px;
    height: 80px;
    margin-right: 10px;
}

.mobile .empleo .encabezado h1{
    font-size: 18px;
}
.mobile .empleo .encabezado p{
    font-size: 12px;
}
.mobile .empleo .encabezado > .contenido{
    position: absolute;
    margin: 0px 0px 0px 130px;
}
.mobile .empleo .encabezado {
    height: 130px;
}

.mobile .empleo .contenido .derecha{
    min-height: 0px;
}