.white-popup-block {
    background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 350px;
    margin: 40px auto;
    position: relative;
    color: #535353;
}

.empleo-oferta .respuesta{
    color: red;
    font-weight: bold;
}

.empleo-oferta textarea,
.empleo-oferta input{
    color: rgb(161, 161, 161);
    width: 100%;
    resize: none;
    padding-left: 5px;
    border: 1px solid #c7c7c7;
    margin-top: 3px;
}
.empleo-oferta input{
    height: 25px;
}

.empleo-oferta h1{
    font-size: 19px;
    font-weight: bold;
}

.empleo-oferta ul li{
    margin-bottom: 5px;
}

.empleo-oferta input.cancelar,
.empleo-oferta input.enviar{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 16px;
    color: white;
    background: #EAEAEA;
    height: 28px;
    margin-bottom: 5px;
    cursor: pointer;
    float: left;
    width: 49%;
    margin-right: 2px;
}

.empleo-oferta input.enviar {
    background-color: #7AC666;
}

.empleo-oferta input.cancelar{
    color: gray;
    text-shadow: none;
}


.mobile .white-popup-block{
    margin: 0px auto;
}
