.articulosimagen .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
.articulosimagen .thumb{
    background: #dddddd;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks .articulosimagen .thumb {
    padding-bottom: 3px;
}


.articulosimagen .thumb .loading .bar{
    width: 100%;
    background: white;
    height: 20px;
}

.articulosimagen .thumb .loading .subiendo{
    margin: 10px 0px 3px 0px;
    font-size: 12px;
}

.articulosimagen .thumb .loading .bar .porcentaje{
    background: gray;
    height: 20px;
    width: 50%;
}
.articulosimagen .thumb .loading .espera{
    margin: 21px 0px 0px 12px;
    font-weight: bold;
}


.articulosimagen .thumb .loading,
.articulosimagen .thumb img{
    height: 100px;
    width: 100px;
    overflow: hidden;
}
.articulosimagen .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
.articulosimagen .thumb-wrap span {
    word-wrap: break-word;
    height: 26px;
    display: block;
    overflow: hidden;
    text-align: center;
    width: 100px; /* for ie to ensure that the text is centered */
}

.articulosimagen .x-item-over{
    border:1px solid #dddddd;
    background: #efefef url(../../../js/extjs/examples/view/over.gif) repeat-x left top;
    padding: 4px;
}

.articulosimagen .x-item-selected{
    background: #eff5fb url(../../../js/extjs/examples/view/selected.gif) no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 4px;
}
.articulosimagen .x-item-selected .thumb{
    background:transparent;
}

.articulosimagen .loading-indicator {
    font-size:11px;
    background-image:url('../../../js/extjs/resources/themes/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}