div.articulo{
    overflow: hidden;
    position: relative;
    width: 628px;
    margin-bottom: 8px;
}
div.articulo > img{
    margin: 0px 10px 0px 0px;
    float: left;
}

div.articulo.fit{
    width: 100%;
}

div.articulo div.encabezado h1 {
    color: #0776AF;
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
}

div.articulo div.encabezado h1.rosa2{
    color: #BF5455;
}

div.articulo div.encabezado h1.rosa{
    color: #a3397c;
}

div.articulo div.encabezado h1.gris{
    color: #535353;
}

div.articulo div.encabezado p {
    color: #929292;
    font-size: 13px;
    line-height: 19px;
}

div.articulo div.texto{
    padding: 0px 10px 0px 10px;
    word-break: break-word;
    color: #535353;
    overflow: hidden;
    margin-bottom: 8px;
    font-size: 13px;
}

div.articulo > div.contenido figure{
    margin: 0px;
    padding: 15px 0px 15px 0px;
}


div.articulo div.relacionado{
    margin-bottom: 8px;
    overflow: hidden;
}

div.articulo div.relacionado div.derecha{
    float: right;
}

div.articulo div.relacionado div.derecha .social{
    margin-top: auto;
}

div.articulo div.relacionado div.izquierda{
    float: left;
}

div.articulo div.relacionado div.izquierda span{
    color: #2e8fca;
    font-weight: bold;
}

div.articulo > div.social{
    float: right;
    margin-top: -30px;
}

div.articulo > div.contenido figure img,
div.articulo div.texto img,
div.articulo div.texto iframe
{
    width: 100%;
}

div.articulo div.texto iframe{
    margin: 10px 0px 10px 0px;
    overflow: hidden;
}


div.articulo div.texto p{
    margin: 1em 0px

}

div.articulo div.sticker.gris ul li{
    float: right;
    padding: 3px 8px 3px 8px;
}

div.articulo div.sticker.gris ul li:hover i:before{
    color: #535353;
    text-shadow: none;
}
div.articulo div.sticker.gris ul li i{
    float: left;
}
div.articulo div.sticker.gris ul li div{
    float: left;
    margin: 4px;
    font-weight: bold;
}


/*TABLET*/

.tablet div.articulo{
    width: 628px;
}

/*MOBILE*/

.mobile  div.articulo div.social{
    float: right;
    margin-top: 5px;
}

.mobile div.articulo div.social .google_plus{
    display: none;
}

.mobile div.articulo{
    width: 100%;
}

.mobile div.articulo div.texto iframe{
    height: 215px;
}

.mobile  div.articulo > img{
    width: 120px;
    height: 90px;
    margin: 0px 10px 0px 10px;
}

.mobile div.articulo div.encabezado h1{
    font-size: 20px;
    line-height: 23px;
    overflow: hidden;
}

.mobile div.articulo div.relacionado {
    margin-top: 5px;
}

.mobile div.articulo > div.contenido figure img{
    width: 100%;
    height: 215px;
}

.mobile div.articulo div.encabezado{
    padding: 0px 10px 10px 10px;
}
