div.mapa{
  overflow: hidden;
  margin: 0px auto 8px auto;
  background: white;
  width: 628px;
}
  
div.mapa.fit{
    width: 944px;
}

div.mapa div.titulo{
    background-color: #EC6224;
    width: 628px;
    height: 32px;
    float: left;
    position: relative;
    z-index: 100;
}

div.mapa div.titulo span{
    font-size: 14px;
    padding: 5px 0px 0px 6px;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-weight: bold;
    float: left;
}

/*
TABLET
*/

.tablet div.mapa{
  width: 628px;
}

/*
MOBILE
*/

.mobile div.mapa,
.mobile div.mapa div.titulo{
    width: 100%;
    min-width: 320px;
}

.mobile div.mapa #alberca{
    height: 215px;
}