.evento{
    overflow: hidden;
    position: relative;
    width: 628px;
    margin-bottom: 8px;
}

.evento img.poster{
    width: 100%;
}

.evento.fit{
    width: 100%;
}
.evento i.siguiente:before {
    content: "\e011";
    color: white;
    margin-right: 5px;
    margin-top: 4px;
    display: block;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.evento i.anterior:before {
    content: "\e010";
    color: white;
    margin-right: 5px;
    margin-top: 4px;
    display: block;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.evento i.buscar:before {
    content: "\e015";
    color: white;
    margin-right: 5px;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.evento i.maximizar:before {
    content: "\e038";
    color: white;
    margin-right: 5px;
    font-size: 22px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.evento i.arrow:before {
    content: "\e035";
    color: white;
    margin-right: 5px;
    font-size: 22px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.evento ul.documento{
    background: #f0f0f0;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 8px;
}

.evento ul.documento li img{
    width:100%;
    height: auto;
    border: 1px solid #d4d4d4;
}
.evento ul.documento li{
    margin-bottom: 10px;
}

.evento div.sticker ul{
    margin-bottom: 0px;
}

.evento div.sticker.gris ul li{
    float: right;
    padding: 3px 8px 3px 8px;
}

.evento div.sticker.gris ul li:hover i:before{
    color: #535353;
    text-shadow: none;
}
.evento div.sticker.gris ul li i{
    float: left;
}
.evento div.sticker.gris ul li div{
    float: left;
    margin: 4px;
    font-weight: bold;
}


/*
/*TABLET*/

.tablet .evento{
    width: 628px;
}
.tablet .evento ul.documento li img{
    width:100%;
    height: auto;
}

.tablet .evento .sticker .btn-maximizar{
    display: none;
}


/*
MOBILE
*/

.mobile .evento .sticker .btn-maximizar{
    display: none;
}

.mobile .evento{
    width: 100%;
}

.mobile .evento ul.documento li img{
    width:100%;
    height: auto;
}
