.canalvideos {
    width: 628px;
    overflow: hidden;
}

.canalvideos ul.items li h1,
.canalvideos ul.items li h2 {
    color: #555555;
    padding: 0px 5px 0px 0px;
    font-size: 13px;
    height: 38px;
    overflow: hidden;
}
.canalvideos ul.items li h1 {
    font-size: 22px;
    height: auto;
}

.canalvideos ul.items li {
    float: left;
    width: 196px;
    margin: 0px 20px 20px 0px;
    position: relative;
}

.canalvideos ul.items li:first-child{
    width: 100%;
}

.canalvideos ul.items li:first-child img{
    float: left;
    margin-right: 15px;
}

.canalvideos ul.items li:nth-child(3n+4){
    margin: 0px 0px 20px 0px;
}

.canalvideos ul.items li:hover{
    cursor: pointer;
}

.canalvideos ul.items li i {
    background: url('../../img/sprite.png');
    background-position: -12px -109px;
    height: 25px;
    width: 38px;
    position: absolute;
    z-index: 2;
    position: absolute;
    left: 40%;
    top: 35%;
    display: none;
}
.canalvideos ul.items li:first-child i {
    left: 40%;
    top: 40%;
}

.canalvideos ul.items li:hover i{
    display: block;
}

.canalvideos ul.items li:hover .social .num,
.canalvideos ul.items li .social .social-stub {
    display: none;
}

.canalvideos ul.items li .social .num,
.canalvideos ul.items li:hover .social .social-stub{
    display: block;
}

.canalvideos ul.items li .social .num,
.canalvideos ul.items li .social .social-stub {
    margin: 7px 50px 0px 0px;
    float: left;
}

.canalvideos ul.items li .imagen{
    position: relative;
    left: 0px;
    float: left;
}

/*MOBILE*/



.mobile .canalvideos {
    width: 100%;
    min-width: 320px;
}

.mobile .canalvideos ul.items li:nth-child(n+5),
.mobile .canalvideos ul.items li .social{
    display: none;
}

.mobile .canalvideos ul.items li {
    height: auto;
    padding: 10px 6px 10px 6px;
    margin: 1px 1px 1px 1px;
    width: 100%;
}

.mobile .canalvideos ul.items li img {
    width: 120px;
    height: 80px;
    float: left;
}

.mobile .canalvideos ul.items li .imagen{
    width: 120px;
}

.mobile .canalvideos ul.items li .contenido{
    position: absolute;
    margin: 0px 0px 0px 130px;
}

.mobile .canalvideos ul.items li i {
    top: 35%;
    display: block;
}


.mobile .canalvideos ul.items li:first-child span {
    height: 56px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin: 0px;
    background-color: #020202;
    opacity: 0.6;
    display: block;
}

.mobile .canalvideos ul.items li:first-child div.contenido {
    overflow: hidden;
    clear: both;
    padding: 10px 10px 10px 10px;
    margin: 0px;
    bottom: 0px;
}

.mobile .canalvideos ul.items li:first-child {
    padding: 0px;
    margin: 0px;
    position: relative;
    left: 0px;
}

.mobile .canalvideos ul.items li:first-child h1 {
    color: white;
    font-family: Ubuntu;
    text-decoration: none;
    z-index: 1;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: 17px;
    margin: 5px 10px 2px 0px;
    line-height: 17px;
}

.mobile .canalvideos ul.items li:first-child p {
    color: white;
    z-index: 1;
    text-decoration: none;
    bottom: 0px;
    margin: 0px;
    opacity: 0.8;
    height: 35px;
    overflow: hidden;
}
.mobile .canalvideos ul.items li:first-child .imagen{
    width: 100%;
}

.mobile .canalvideos ul.items li:first-child img {
    width: 100%;
    height: auto;
}

.mobile .canalvideos ul.items li:first-child i {
    left: 45%;
    top: 45%;
}