.albercas{
  overflow: hidden;
  margin: 0px auto 8px auto;
  background: white;
  width: 628px;
}

.albercas .gm-iw{
    color: black;
}

.albercas div.titulo{
    background-color: #256283;
    width: 628px;
    height: 32px;
    float: left;
    position: relative;
    z-index: 100;
}

.albercas div.titulo span{
    font-size: 14px;
    padding: 5px 0px 0px 6px;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-weight: bold;
    float: left;
}

.albercas .items{
  display: none;
}

/* FULL SCREEN*/

.albercas.fullscreen div.titulo{
  height: 35px;
  width: 100%
}
.albercas.fullscreen div.titulo span{
  font-size: 18px;
  padding: 7px 0px 0px 6px;
}

.albercas.fullscreen i.icon.cross{
  display: block;
}
.albercas.fullscreen,
.albercas.fullscreen #mapa{
  width: 100%;
  height: 100%;
}
.albercas.fullscreen .items{
  position: absolute;
  top: 31px;
  display: block;
  right: 0px;
  background: white;
  padding: 15px;
  width: 319px;
  background: #599DC1;
  height: 100%;
}

.albercas.fullscreen .items ul{
  overflow: auto;
  height: 100%;
}


.albercas.fullscreen .items ul li a{
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.albercas.fullscreen .items ul li:hover{
  background:#0776AF;
}


.albercas.fullscreen .items ul li{
  padding: 5px 0px 5px 10px;
  cursor: pointer;
}

.albercas.fullscreen .items input{
  border: 0px;
  border-radius: 3px 3px 3px 3px;
  height: 28px;
  width: 309px;
  margin: 5px 0px 5px 0px;
  padding-left: 10px;
  font-size: 14px;
  outline: none;
  overflow: hidden;
}


/* FULL SCREEN*/

.albercas .preview {
  width:628px;
  height:531px;
}

.albercas .preview img.screen{
  position: absolute;
  margin-left: -177px;
}

.ie8 .albercas .preview img.screen{
  position: absolute;
  margin-left: -169px;
}


.albercas .preview {
  float: left;
  text-align: center;
  cursor: pointer;
}
 
.albercas #albercas_instrucciones{
  color: black;
  float: left;
  width: 620px;
  height: 488px;
  overflow: auto;
}


 
.albercas .preview:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
    
  /* For visualization 
  background: #808080; width: 5px;
  */
 }
 
.albercas .preview .centered {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
    background: gray;
    color: white;
    font-family: Ubuntu;
    font-size: 18px;
 }
 
.touch .albercas .preview .centered, 
.albercas .preview:hover .centered{
    background: #C6CA27;
    border-radius: 5px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    color: white;
    box-shadow: 0px 4px 8px #888;
}

.albercas #mapa .info {
  width: 300px;
  padding-bottom:10px 
}

.albercas #mapa .info h3{
  color: gray;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 2px;
}

.albercas #mapa .info p{
  color: gray;
  padding-bottom: 15px;
}

.albercas #mapa .info img {
  border: 0;
}

.albercas #mapa .info-body {
  width: 200px;
  height: 200px;
  line-height: 200px;
  margin: 2px 0;
  text-align: center;
  overflow: hidden;
}

.albercas #mapa .info-img {
  height: 220px;
  width: 200px;
}

.albercas #mapa .info .social{
  padding-top: 15px;
}

.albercas #mapa .info .social .social-stub {
float: left;
margin: 7px 40px 0px 20px;
}

.albercas .geo{
  display: none;
  overflow: hidden;
  background: #C6CA27;
  padding: 5px 0px 0px 5px;
  font-weight: bold;
  font-size: 26px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  z-index: 1;
  position: relative;
}

.albercas .geo p{
  float: left;
  margin-top: 25px;
}

.albercas .geo img{
  width: 80px;
  float: right;
  margin-right: 30px;
}


.albercas .items div.buttons{
  margin-bottom: 20px;
}

.albercas #mapa .info button,
.albercas .items div.buttons button{
  border: 1px solid #D5D5D5;
  background: #C0C0C0;
  padding: 5px;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
  text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
  cursor: pointer;
  width: 100%;
}

.albercas .items div.buttons button.donde{
  background: #C6CA27;
  display: none;
  margin-bottom: 5px;
}

.albercas .items div.buttons button.agrega{
  background: #E56C26;
  display: none;
}

/*
MOBILE
*/

.mobile .albercas{
  display: none;
}

