.eventos{
    width: 628px;
    margin-bottom: 8px;
    overflow: hidden;
}

.eventos .royalSlider{
    width: 628px;
    min-height: 400px;
    height: 436px;
}

.videos .royalSlider li.tab{
    height: 436px;
}

.eventos .royalSlider .rsNav{
    background-color: #aeaeae;
    width: 628px;
    position: relative;
    z-index: 100;
    
}
    
.eventos .royalSlider .rsTmb,    
.eventos .royalSlider li
{
    float: left;
    cursor: pointer;
}


.eventos .royalSlider .rsNav span.rsTmb{
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding: 7px 8px 6px 8px;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    text-transform: uppercase;
    font-weight: bold;
}


.eventos .royalSlider .rsNav span.rsTmb:hover{
    background: white;
    color: #737373;
    text-shadow: none;
    padding: 6px 8px 5px 8px;
    margin: 1px 0px 1px 0px;
    cursor: pointer;
}

.eventos .royalSlider .rsNav .rsNavSelected span.rsTmb:hover,
.eventos .royalSlider .rsNav .rsNavSelected span.rsTmb{
    background-color: #676767;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
}


.eventos .royalSlider li.tab {
    clear: both;
    width: 100%;
    padding-top: 20px;
    
}

.eventos .royalSlider li.tab  ul.bloque{
    overflow: hidden;
    clear: both;
}


.eventos .royalSlider li.tab  ul.bloque li.item{
    width: 206px;
    height: 180px;
    /*border: 1px solid #d4d4d4;*/
    /*margin-right: 5px;*/
    margin-right: 3px;
    margin-bottom: 6px;
}

.eventos .royalSlider li.tab  ul.bloque li.item .contenido{
    border: 1px solid #d4d4d4;
    height: 103px;
}


.eventos .royalSlider li.tab  ul.bloque li.item:nth-child(3n){
    margin-right:0px;
}

.eventos .royalSlider li.tab  ul.bloque li.item .categoria{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-weight: bold;
    background-color: red;
    -sand-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);  /* FF3.5+ */
    -o-transform: rotate(-90deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', 
             M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand',M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17)"; /* IE8 */
    zoom: 1;
    width: 96px;
    padding: 4px 0px 4px 8px;
    margin: 39px 0px -66px -40px;
    position: absolute;
}


.ie8 .eventos .royalSlider li.tab  ul.bloque li.item .categoria{
    margin: auto;
}

.eventos ul.combo {
    position: absolute;
    right: 0px;
    top: 12px;
}

.eventos ul.combo > li{
    background: #F0F0F0;
    color: #646464;
    border: 1px solid #D7D7D7;
    padding: 5px;
    width: 195px;
}

.eventos ul.combo > li i.icon:before{
    content: "\e044";
    font-size: 20px;
}

.eventos ul.combo li ul.sub-menu{
    border: 1px solid #c7c7c7;
    top: 31px;
    overflow: hidden;
}

.eventos ul.combo li span{
    display: block;
    background: none;
    color: #646464;
    cursor: pointer;
    font-size: 14px;
}

.eventos ul.combo li ul.sub-menu {
    width: 205px;
}


.eventos ul.combo ul.sub-menu li{
    background-color: white;
    color: #7A7A7A;
    padding: 8px;
}
.eventos ul.combo ul.sub-menu li:hover{
    background: white;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    font-weight: bold;
}

.eventos ul.combo ul.sub-menu li i{
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
}

.eventos ul.combo ul.sub-menu li:first-child{
    border-bottom: 1px solid #c7c7c7;
}

/*.eventos ul.combo ul.sub-menu li.ciclismo i,*/

.eventos .royalSlider li.tab  ul.bloque li.item .categoria,
.eventos .royalSlider li.tab  ul.bloque li.item i{
    background:#E56C26;
}

.eventos .royalSlider li.tab  ul.bloque li.item .color1{
    background:#581B4B;
}

.eventos .royalSlider li.tab  ul.bloque li.item .color2{
    background:#C6CA27;
}

.eventos .royalSlider li.tab  ul.bloque li.item .color3{
    background:#73B763;
}

.eventos .royalSlider li.tab  ul.bloque li.item .color7{
    background:#C655A2;
}

.eventos .royalSlider li.tab  ul.bloque li.item .color13{
    background:#02A6D1;
}

.eventos .royalSlider li.tab  ul.bloque li.item span.fecha{
    z-index: 3;
    font-weight: bold;
    background: #C0C0C0;
    padding: 3px;
    overflow: hidden;
    position: relative;
    float: right;
    margin-bottom: -23px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.eventos .royalSlider li.tab  ul.bloque li.item h3{
    color: #7A7A7A;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    overflow: hidden;
    max-height: 36px;
    min-height: 12px;
    padding: 0px 5px 0px 5px;
}
.eventos .royalSlider li.tab  ul.bloque li.item p{
    height: 33px;
    color: gray;
    text-align: center;
    margin: 5px 0px 0px 0px;
}

.eventos .royalSlider li.tab  ul.bloque li.item img.poster{
    width: 400px;
    height: 600px;
}

.eventos .royalSlider li.tab  ul.bloque li.item img.logo{
    margin: 0px auto 0px auto;
    display: block;
    padding: 5px 0px 5px 22px;
}

.eventos .royalSlider .rsNav span.rsTmb i.icon.arrow:before{
    content: "\e011";
    color: #919191;
}

.eventos .royalSlider .rsNav .rsNavSelected span.rsTmb i.icon.arrow:before{
    content: "\e037";
    color: #474747;
}



.eventos .royalSlider li.tab  ul.bloque ul.month{
    overflow: hidden;
}

.eventos .royalSlider li.tab  ul.bloque ul.month > li > span{
    color: #535353;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}


.eventos .royalSlider li.tab  ul.bloque ul.month li ul{
    margin: 15px 0px 15px 0px;
}

.eventos span.anunciate{
    background-color: #EC6224;
    border-left: 10px solid white;
    padding: 5px;
    width: 196px;
    text-align: center;
    right: 0px;
    position: absolute;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-weight: bold;
    cursor: pointer;
}
.eventos span.anunciate:hover{
    background-color: #c93a0a;
}


.eventos i.icon.anunciate:before{
    content: "\e002";
    color: white;
    margin-right: 5px;
}


/*
MOBILE
*/

.mobile .eventos,
.mobile .eventos .royalSlider{
    min-width: 320px;
    width: 100%;
}

.mobile .eventos .royalSlider li.tab  ul.bloque li.item .contenido{
    height: 71px;
}

.mobile .eventos .royalSlider li.tab ul.bloque li.item img.logo{
    width: 110px;
    height: 63px;
}


.mobile .eventos .royalSlider li.tab ul.bloque li.item:hover i,
.mobile .eventos .royalSlider li.tab ul.bloque li.item:hover div.over,
.mobile .eventos .royalSlider li.tab  ul.bloque li.item{
    width: 155px;
    height: 150px;
}

.mobile .eventos span.anunciate,
.mobile .eventos ul.combo{
    display: none;
}

.mobile .eventos .royalSlider .rsNav span.rsTmb{
    font-size: 12px;
    padding: 7px 6px 6px 6px;
}

.mobile .eventos .royalSlider li.tab {
    padding-left: 4px;
}

.mobile .eventos .royalSlider li.tab ul.bloque li.item .categoria{
    width: 64px;
    margin: 25px 0px -66px -26px;
    font-size: 9px;
    height: 13px;
    overflow: hidden;
}

.mobile .eventos .royalSlider li.tab ul.bloque li.item:nth-child(3n) {
    margin-right: 3px;
}