.ultimas_noticias{
    width: 300px;
    margin-bottom: 8px;
    overflow: hidden;
}

.ultimas_noticias .royalSlider{
    width: 300px;
}

.ultimas_noticias .royalSlider .rsNav{
    background-color: #e3e3e3;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #c7c7c7;
}

.ultimas_noticias .royalSlider .rsNav .rsTab{
    float: left;
    
}

.ultimas_noticias .royalSlider .rsNav span.rsTmb:hover{
    background: white;
    color: #737373;
    text-shadow: none;
    cursor: pointer;
}

.ultimas_noticias .royalSlider .rsNav .rsTab span.rsTmb{
    color: #676767;
    font-size: 11px;
    text-decoration: none;
    padding: 6px 6px 6px 6px;
    margin: 1px;
    display: block;
    cursor: pointer;
}


.ultimas_noticias .royalSlider .rsNav .rsNavSelected span.rsTmb:hover,
.ultimas_noticias .royalSlider .rsNav .rsNavSelected span.rsTmb{
    background-color: #676767;
    color: white;
}



.ultimas_noticias .royalSlider .rsNav .rsNavSelected span.rsTmb{
    color:white;
    padding: 7px;
    margin: 0px;
}


.ultimas_noticias .titulo{
    background-color: #7ac666;
    width: 300px;
    height: 32px;
    position: relative;
    z-index: 100;
}


.ultimas_noticias .titulo h2{
    font-size: 14px;
    padding: 5px 0px 0px 6px;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-weight: bold;
}


.ultimas_noticias .royalSlider ul{
    overflow: hidden;
    height: 313px;
    background-color: #f0f0f0;
    border-right: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    overflow: hidden;
    border-bottom: 1px solid #d4d4d4;
}

.ultimas_noticias .royalSlider ul li{
    padding: 5px 0px 6px 5px;
    overflow: hidden;
    cursor: pointer;
    
}

.ultimas_noticias .royalSlider ul li:hover{
    background: white;
    cursor: pointer;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
}
.ultimas_noticias .royalSlider ul li:first-child:hover{
    border-top: none;
}


.ultimas_noticias .royalSlider ul li h3{
    color: #535353;
    font-size: 13px;
    height: 36px;
    overflow: hidden;
}

.ultimas_noticias .royalSlider ul li:hover h3{
    font-weight: bold;
    font-size: 12px;
}


.ultimas_noticias .royalSlider ul li span{
    color: green;
    font-size: 13px;
    text-transform: uppercase;
}

.ultimas_noticias .royalSlider ul li .contenido{
    float: left;
    width: 215px;
    margin: 4px 0px 0px 8px;
}

.ultimas_noticias .royalSlider ul li img{
    float: left;
    width: 60px;
    height: 60px;
}


.ultimas_noticias .royalSlider ul li .social{
    display: none;
}

.ultimas_noticias .royalSlider ul li .social-stub{
    float: left;
    margin: 7px 40px 0px 20px;
}

.ultimas_noticias .royalSlider ul li:hover .social{
    display: block;
}
